<template>
 <p>{{ msg }}</p>
</template>
<script>
export default {
    name: 'Home',
    props: {
        msg: String,
    }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped></style>