<template>
 <div>
 <!-- nawigacja jest użyta z bootstrapa -->
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
 <!-- router link musi posiadać to="" -->
 <router-link class="navbar-brand" to="/">Navbar</router-link>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
 <span class="navbar-toggler-icon"></span>
 </button>
 <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
 <div class="navbar-nav">
 <!-- jeszcze tu są routery -->
 <router-link class="nav-item nav-link active" to="/">Home</router-link> <router-link class="nav-item nav-link" to="/list">List</router-link>
 </div>
 </div>
 </nav>
 <!--
router view jest potrzebny, żeby w templatkach Home i List wyświetlały się ich
templatki-->
 <!--bind wiadomosci msg-->
 <router-view :msg='msg'></router-view>
 </div>
</template>
<script>
import io from 'socket.io-client';
export default {
 name: 'App', 
 data() {
   return {
     msg: 'Hello, this is simpler version of Reddit!',
   }
 },
 created() {
 this.socket = io('http://localhost:8080', {transports: ['websocket']});
 }
}
</script>


<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
